<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<title>Participants Editor</title>
		<meta name="robots" content="all" />
		<meta name="author" content="" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../media/css/geral.css" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="../media/css/shadowbox.css">
		<!-- [if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif] -->
<script type="text/javascript" src="../media/js/rating.js"></script>
<link rel="stylesheet" type="text/css" href="../media/css/rating.css" />
<script type="text/javascript">
$(document).ready(function() {
	$('#rate1').rating('www.url.php', {maxvalue:5});
});
</script>
<style type="text/css">
.implementation{
	border:dashed 2px #333333;
	background-color:#CCCCCC;
	color:#000000;
	width:50%;
}

.spacer{
clear:both;
height:0px;
}
.left{
	float:left;
	width:250px;
}
</style>
		<script src="../media/js/jquery-1.6.1.min.js"></script>
		<script src="../media/js/validation.js"></script>
		<script src="../media/js/jquery.validate.min.js"></script>
		<script src="../media/js/shadowbox.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#formField').validate();
			});
			Shadowbox.init({
				language: 'en',
				players:  ['img', 'html', 'iframe', 'qt', 'wmp', 'swf', 'flv']
			});
		</script>
	</head>
	<body>
		<header id="header">
			<nav id="breadcrumbs">
				<ol>
					<li><a href="/">Participants</a></li>
					<li><a href="feedback">Feedback</a></li>
				</ol>
			</nav>
			<div id="menus">
				<nav id="main-menu">
					<ul>
						<li><a class="home" href="/">Participants</a></li>
						<li><a href="feedback">Feedback</a></li>
						<li><a href="#">Add</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="container">
			<section id="form">
			{% ifequal erro "noresults"%}
				<h2>No Results</h2>
			{% else %}
			{% ifequal list "check"%}
				<br/>
				<form class="val" id="formField" action="dofeedback" method="post" accept-charset="utf-8">
				<ul>
					<li>
						<label for="prov">Providers:</label>
							<select name="prov" id="prov" style="width:270px;">
								{% for provider in providers %}
									<option value="{{provider.key}}">{{provider.provider_name}}</option>
								{% endfor %}
							</select>
							<br/>
					</li>
					<li>
						<button type="submit" class="inputB" value="check">Check!</button>
					</li>
				</ul>
				</form>
				{% endifequal %}
				{% ifequal edit "yes"%}
					<form class="val" id="formField" action="updateproviders?key={{provider.key}}" method="post" accept-charset="utf-8">
					<fieldset>
						<ul>
							<li>
								<label for="providerkey">Provider Key:</label>
								<input class="" type="text" name="providerkey" value="{{provider.provider_key}}" readonly="readonly">
							</li>
							<li>
								<label for="providername">Provider Name:</label>
								<input class="" type="text" name="providername" value="{{provider.provider_name}}" readonly="readonly">
							</li>
							<li>
								<label for="organization">Organization:</label>
								<input class="" type="text" name="organization" value="{{provider.organization}}" readonly="readonly">
							</li>
							<li>
								<label for="contactperson">Contact Person:</label>
								<input class="" type="text" name="contactperson" value="{{provider.contact_person}}" readonly="readonly">
							</li>
							<li>
								<label for="udescriptiontex">Description:</label>
								<textarea name="udescriptiontex" id="udescriptiontex" rows="5" cols="20" readonly="readonly">{{provider.description}}</textarea>
							</li>
							<li>
<div id="rate1" class="rating">&nbsp;</div>
							</li>
							<li>
								<button type="submit" class="inputB" value="update">Feedback</button>
							</li>
						</ul>
					</fieldset>
					</form>
					{% endifequal %}
			</section>
			{% endifequal %}
		</div>
		<footer id="footer">
			<p>&copy; 2011. Participants Editor. G10.</p>
		</footer>
	</body>
</html>
